.information-container h2 {
  color: blueviolet;
}

/* Header */
header {
  justify-content: space-between;
}

/* Bars Icon */
.bars-icon {
  display: none;
}

/* Navigation List */
.navigation-list {
  display: flex;
}
.navigation-list ul {
  display: flex;
}
.navigation-list ul li {
  margin: 0 1em;

  list-style: none;
}
.navigation-list ul li a {
  text-decoration: none;
  
  color: var(--color-secundary);
}
.navigation-list ul li a:hover {
  color: var(--color-tertiary);
}

/* Home */
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  height: 90vh;
  padding: 0em 12%;

  text-align: start;
}
.picture-home {
  display: block;
}

.services-cards {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 4fr));
  grid-gap: 15px;
  justify-items: center;
  align-items: center; */

  flex-direction: row;
}

.features {
  justify-content: space-around;

  text-align: start;
}




.trustworthy-sponsor {
  display: flex;
  justify-content: space-evenly;
}